,
html {
  height: 100%;
  width: 100%;
}

#mariazinha {
  background-color: #ac8fb7;
}

#vitinho {
  background-color: pink;
}

#deda {
  background-color: purple;
}

#love {
  background-color: blueviolet;
}
